


$addBtn:#BE7841;
$search:#178294;
$toDoTitle:#178294;
$menu-color:#e0e6e9;
$back-color:#94b5bb;
$back-search-color:white;



@mixin textOverFlow($width){
    width:$width;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

body{
    font-size: 18px;
    background-color:$back-color;

    .container{
        /*z*/
        
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
    .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:$back-color;
    position: sticky;

    .liNav{
    float: left;
    border: 1px solid darkgray;
    border-radius: 10px 10px 0px 0px;

    .aNav{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .aNav:hover{
     background-color: $menu-color;
     border: 1px solid $menu-color;
    border-radius: 10px 10px 0px 0px;
    }
    .active {
        background-color:$menu-color;
        border: 1px solid $menu-color;
        border-radius: 10px 10px 0px 0px;
        
    }
    }
    }

.main-box{
    /*z*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing:border-box;
    padding: 15px;
    margin: 0px;
    background-color:$menu-color;
    border: 1px solid $menu-color;
    border-radius: 5px;
    height: 100%;


    .search{
        margin: 10px;
        margin-bottom:30px; 
        border: 1px solid $menu-color;
        border-radius: 5px;
        height: 40px;
        width:100%;
        background-color: $back-search-color;
        padding: 7px;
        padding-left:10px; 
        box-sizing:border-box;
       justify-content: center;
        
        .btnSearch{
            box-sizing: border-box;
            background:$search;
             border: 1px solid $menu-color;
             border-radius: 5px;
            display: table-cell;
            -webkit-appearance: button;
            appearance: button;
            outline: none;
            height:100%;
            width:120px;
            float: right;
            justify-content: center;
            padding-left: 40px;
          
           
        } 
            


    }
    .todo-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    @media screen and (max-width: 700px) {
        justify-content: center;
    }

    .add{

    margin: 10px;
    width: 270px;
    height: 400px;
     box-sizing:border-box;
    background-color: $addBtn;
    border: 1px solid $menu-color;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;

    }
    
    .todo{
    margin: 10px; 
    padding: 10px;
    background-color: white;
    width: 270px;
    height: 400px;
    box-sizing:border-box;
    border: 1px solid $menu-color;
    border-radius: 10px;
    .head{
        vertical-align: middle;
        box-sizing:border-box;
        padding-top:10px;
        border: 1px solid $menu-color;
        border-radius: 10px;
        color: white;
        background-color:$toDoTitle;
        height:40px;
        margin: 0px;
        margin-bottom: 15px;
        text-align:center;

    }
    .all-tasks{
        overflow: auto;
         max-height:250px;
         overflow-y: auto;
         // margin-bottom: 25px;
         &::-webkit-scrollbar-track {
         // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
         border-radius: 10px;
         background-color:$back-color;
         }
         &::-webkit-scrollbar {
         width: 7px;
         background-color: #F5F5F5;
         border-radius:5px; 
         }
         &::-webkit-scrollbar-thumb {
         // border-radius: 10px;
         // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
         background-color: darkgray;
         border-radius:5px; 
         }

    .task{
    padding:5px;
    display:flex;
    justify-content: space-between;
    flex-grow: 1;
   
        border-radius: 5px;
        margin-bottom: 5px;
        height: 40px;
        box-sizing:border-box;
   
    span{
        @include textOverFlow(120px)
    }
    img{
        height:40px;
        width:40px;
        border-radius: 20px;

    }
    input{
         height:20px;
        width:20px;
        border-radius: 20px;

    }
    input:checked{
        + span {
        color:darkgray;
        
       
        
        }
        }
    
    }
}
    .addDo{
       border: none;
        color: white;
        height: 50px;
        box-sizing:border-box;
        margin-left: 5px;
        
      
       
    }
    .btnAdd{
        cursor: pointer;
        background: $addBtn;
        border: 1px solid $menu-color;
        border-radius: 20px;
        float: right;
        color:white;
        box-sizing:border-box;
        height:40px;
        width: 40px;
        margin:5px;

    }
}
    }

    }
}
}
