$addBtn:#BE7841;
$board:white;
$intenalBoard:#178294;
$info:#178294;
$menu-color:#e0e6e9;
$back-color:#94b5bb;



@mixin textOverFlow($width){
    width:$width;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}
@mixin scrollbar() {
    overflow-y: auto;
    // margin-bottom: 25px;
    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color:$back-color;
    }
    &::-webkit-scrollbar {
        width: 7px;
        background-color:#F5F5F5;
        border-radius:5px;
    }
    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: darkgray;
        border-radius:5px;
    }
}


body{
    font-size: 20px;
    background-color:$back-color;
    .container{
         width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:$back-color;
    position: sticky;

    .liNav{
    float: left;
    border: 1px solid $back-color;
    border-radius: 10px 10px 0px 0px;

    .aNav{

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .aNav:hover{
     background-color: $menu-color;
     border: 1px solid $menu-color;
    border-radius: 10px 10px 0px 0px;
    }
    .active {
        background-color: $menu-color;
        border: 1px solid $menu-color;
        border-radius: 10px 10px 0px 0px;
        
    }
    }
    }
    .main-box{
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // box-sizing:border-box;
        // justify-content: flex-start;
        // padding: 15px;
        // margin-right:5px;
        // background-color:$menu-color;
        // border: 1px solid $menu-color;
        // border-radius: 5px;


        flex-direction: row;
        flex-wrap: wrap;
        box-sizing:border-box;
        padding: 15px;
        margin: 0px;
        background-color:$menu-color;
        border: 1px solid $menu-color;
        border-radius: 5px;
        height: 100%;
        display: flex;
        // height: 100%;
    .BoardContent{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:63%; 
  
}
    .InternalBoard {
// margin : 20px;
background-color:$intenalBoard;
font-size: 15px;
padding: 10px;

border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: start;
width: 37%;
height: 290px;
text-align: left;
box-sizing: border-box;
border: 1px solid $intenalBoard;



}

}
}
}
