$board:white;
$info:#178294;
$addBtn:#BE7841;
$menu-color:#e0e6e9;

// @mixin textOverFlow($width){
//     width:$width;
//     // white-space:nowrap;
//     overflow:hidden;
//     text-overflow:ellipsis;
// }
.Board{
    background-color: $board;
   
    width: 447px;
    height:550px;
    box-sizing: border-box;
    border-radius: 8px;
 
    margin-right: 15px;
    margin-bottom: 15px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        .delete{
            width: 70px;
            height: 70px;
            margin-left: -40px;
            border-radius: 100px;
            background-color: $addBtn;
            color: white;
            text-align: center;
            font-size: 30px;
            border: 1px solid $menu-color;
            cursor: pointer;
        }

        .BoardNumber{
            
            display: flex;
            justify-content: center;
            font-size: 40px;
            padding-top: 20px;
            align-content: center;
            text-align: center;
            margin: 0px;
            // @include textOverFlow(100px);

        }
        .description{
          
    
            margin: auto 0 0 0;
            margin-left: 60px;
            margin-top: 10px;

        }
        .Done{
            font-size: 40px;
            padding-top: 20px;
            display: flex;
            margin: 0px;
            justify-content: center;
            color: $info;
            max-height: 40px;

        }
        .all_image{
            display:flex;
            flex-direction:row;
            justify-content: flex-end;
            margin: 5px;
           
            .board_image{
                width: 70px;
                height: 70px;
                margin-left: -40px;
                border-radius: 100px;
                border-style: ridge;

            }

        }
    
}