$menu-color:#e0e6e9;
$back-color:#94b5bb;
$back-search-color:white;
$addBtn:#006064;
$board:#B2EBF2;
$search:#0097A7;
$toDoTitle:#0097A7;
@mixin textOverFlow($width){
    width:$width;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

.task{
    padding:5px;
    display:flex;
    justify-content: space-between;
    flex-grow: 1;
   
        border-radius: 5px;
        margin-bottom: 5px;
        height: 40px;
        box-sizing:border-box;
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
             /* Modal Content/Box */
          .modal-content {
            display: flex;
            flex-direction: column;
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            border-radius: 5px;
            width: 30%; /* Could be more or less, depending on screen size */
             /* The Close Button */
          .close {
            margin:2px;
            color:white;
            float: right;
            font-size: 10px;
            border-radius: 5px;
            border: 1px solid $toDoTitle;
            background-color: $toDoTitle;
          }
          
          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
          }
          }
   
    span{
        @include textOverFlow(120px)
    }
    img{
        height:40px;
        width:40px;
        border-radius: 20px;

    }
    .deleteTask{
        cursor: pointer;
        background: $addBtn;
        border: 1px solid $menu-color;
        border-radius: 20px;
        float: right;
        color:white;
        box-sizing:border-box;
        height:40px;
        width: 40px;
        

    }
    input{
         height:20px;
        width:20px;
        border-radius: 20px;

    }
    input:checked{
        + span {
        color:darkgray;
        
       
        
        }
        }
    
    }