$menu-color:#e0e6e9;
$back-color:#94b5bb;

$addBtn:#BE7841;
$board:#88CDD7;
$info:#178294;

@mixin textOverFlow($width){
    width:$width;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}
@mixin scrollbar() {
    overflow-y: auto;
    // margin-bottom: 25px;
    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color:$back-color;
    }
    &::-webkit-scrollbar {
        width: 7px;
        background-color:#F5F5F5;
        border-radius:5px;
    }
    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: darkgray;
        border-radius:5px;
    }
}


body{
    font-size: 20px;
    background-color:$back-color;
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    
    .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:$back-color;
    position: sticky;

    .liNav{
    float: left;
    border: 1px solid $back-color;
    border-radius: 10px 10px 0px 0px;

    .aNav{

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .aNav:hover{
     background-color: $menu-color;
     border: 1px solid $menu-color;
    border-radius: 10px 10px 0px 0px;
    }
    .active {
        background-color: $menu-color;
        border: 1px solid $menu-color;
    border-radius: 10px 10px 0px 0px;
        
    }
    }
    }
    .main-box{
        
        flex-direction: row;
        justify-content:flex-start;
        // max-width: 1400px;
        @media screen and (max-width: 1400px) {
            justify-content: center;
        }
       
        
        flex-wrap: wrap;
        box-sizing:border-box;
        width:100%;
        background-color:$menu-color;
        border: 1px solid $menu-color;
        border-radius: 5px;
        height: 100%;
        display: flex;
        .form-popup{
            display :none;
            width:100%;
            background-color:white ;
            flex-direction: column;
            border: 1px solid $menu-color;
            border-radius: 5px;
            padding-left:10px;
            margin:10px;

            .form-content{
            padding:10px 10px 10px 10px;
            
            .input{

                // border:none;
                height: 40px;
                margin-bottom: 10px;
            }
        }
        }
        .div_partitioning{
            width: 75% ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .div{
                width: 100%;
                height: 100%;
             
                
            }
        }

      
            .button {
                cursor: pointer;
                background-color: $addBtn;
                 border: none;
                // border: 1px solid $menu-color;
                color: white;
                font-size: 30px;
                width: 100%;
                height: 40px;
                border-radius: 12px;
                display: flex;
                flex-direction: row;
                justify-content: center; 
            }
        }
    }
}