@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
$back-color:#94b5bb;
.page_404{
     padding:40px 0; background:#fff; font-family: 'Arvo', serif;
     display: flex;
     flex-direction: column;
    justify-content: center;
  
    .title{
        margin: 0px;
        font-family: 'Russo One', sans-serif;
        font-size: 70px; 
        display: flex;
     
    justify-content: center;
    }
    .content{
        margin: 0px;
       font-family: 'Russo One', sans-serif;
        font-size:30px;
        display: flex;
        justify-content: center;
    }
    .gif{
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height:400px;
        background-position: center;
        background-repeat: no-repeat;
    }
 
}